<div class="container text-center">
    <br>
    <div class="row">
        <div class="col-sm-12 opacity-50">
            <img src="../../../assets/images/portada.jpg" class="card-img-top" alt="...">
        </div>
    </div>
    <br>
    <h2 style="text-align: center;">SITIOS TURÍSTICOS</h2>
    <br>
    <div class="row">
        <div class="col-sm-4">
            <img src="../../../assets/images/TEMPLO.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">TEMPLO HISTÓRICO</h5>
                <p class="card-text">
                    Templo religioso Historio declarado como Monumento integrante del Patrimonio Cultural de la Nación
                    mediante Resolución Ministerial N° 329-86/INC del 30 de junio de 1986.
                </p>

                <div class="accordion accordion-flush" id="my-accordion">
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="my-accordion-header">
                            <button id="see-more" class="btn" type="button" data-bs-toggle="collapse"
                                data-bs-target="#flush-collapseOne" aria-expanded="false"
                                aria-controls="flush-collapseOne">
                                Más detalles
                            </button>
                        </h2>
                        <div id="flush-collapseOne" class="accordion-collapse collapse"
                            aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body">
                                Es bonito
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <img src="../../../assets/images/PANORAMA.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">LAGUNA DE PAMPAMARCA</h5>
                <p class="card-text">
                    La laguna alberga animales silvestres como parihuanas (famosos por su plumaje rojo y blanco), patos
                    y peces. Debido a la abundancia de totoras, es común ver embarcaciones hechas de este material
                    navegando en las aguas del Pampamarca.
                </p>

                <div class="accordion accordion-flush" id="my-accordion">
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="my-accordion-header">
                            <button id="see-more" class="btn" type="button" data-bs-toggle="collapse"
                                data-bs-target="#flush-collapseTwo" aria-expanded="false"
                                aria-controls="flush-collapseOne">
                                Más detalles
                            </button>
                        </h2>
                        <div id="flush-collapseTwo" class="accordion-collapse collapse"
                            aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body">
                                Es bonito
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <img src="../../../assets/images/FERIA.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">FERIA ¨PATRÓN SAN HILARIO¨</h5>
                <p class="card-text">
                    La feria en honor al Patrón San Hilario, sigue teniendo gran afluencia de visitantes de toda la
                    región y de regiones vecinas. A pesar de tantos años de existencia, nuestros productores y
                    visitantes acuden a esta fiesta agropecuaria, artesanal y comercial.
                </p>

                <div class="accordion accordion-flush" id="my-accordion">
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="my-accordion-header">
                            <button id="see-more" class="btn" type="button" data-bs-toggle="collapse"
                                data-bs-target="#flush-collapseThree" aria-expanded="false"
                                aria-controls="flush-collapseOne">
                                Más detalles
                            </button>
                        </h2>
                        <div id="flush-collapseThree" class="accordion-collapse collapse"
                            aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body">
                                Es bonito
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <br>
    <app-news></app-news>
    <br>

    <div class="row">
        <div class="col-sm-4">
            <div class="row">
                <div class="col-sm-8">
                    <div class="card-body">
                        <h5 class="card-title">ALCALDE DISTRITAL</h5>
                        <br>
                        <h3>LEO IVAN ARIAS PAULLO</h3>
                        <p class="card-text">
                            Alcade con gran capacidad de gestion, ganas y compromiso de poder realizar mejoras en
                            nuestro distrito de pampamarca para el bienestar de la población.
                        </p>

                        <div class="accordion accordion-flush" id="my-accordion">
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="my-accordion-header">
                                    <button id="see-more" class="btn" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#flush-collapseOne" aria-expanded="false"
                                        aria-controls="flush-collapseOne">
                                        See more details
                                    </button>
                                </h2>
                                <div id="flush-collapseOne" class="accordion-collapse collapse"
                                    aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                                    <div class="accordion-body">
                                        <li>LIC. CIENCIAS DE LA COMUNICACION</li>
                                        <li>DR. GESTION PUBLICA</li>
                                        <li>IVAN@GMAIL.COM</li>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <img src="../../../assets/images/IVAN.png" class="card-img-top" alt="...">
                </div>
            </div>

        </div>
        <div class="col-sm-4">
            <img src="../../../assets/images/PANORAMA.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">LAGUNA DE PAMPAMARCA</h5>
                <p class="card-text">
                    Alcade con gran capacidad de gestion, ganas y compromiso de poder realizar mejoras en nuestro
                    distrito de pampamarca para el bienestar de la población.
                </p>

                <div class="accordion accordion-flush" id="my-accordion">
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="my-accordion-header">
                            <button id="see-more" class="btn" type="button" data-bs-toggle="collapse"
                                data-bs-target="#flush-collapseTwo" aria-expanded="false"
                                aria-controls="flush-collapseOne">
                                See more details
                            </button>
                        </h2>
                        <div id="flush-collapseTwo" class="accordion-collapse collapse"
                            aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body">
                                At this stage I joined a team of developers to support adding new functionalities and
                                fixing some bugs.

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <img src="../../../assets/images/FERIA.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">FERIA ¨PATRÓN SAN HILARIO¨</h5>
                <p class="card-text">
                    <li>Six months of experience</li>
                    <li>Bootstrap as main toolkit</li>
                    <li>Material UI as secondary toolkit</li>
                    <li>I learnt to consume API's</li>
                </p>

                <div class="accordion accordion-flush" id="my-accordion">
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="my-accordion-header">
                            <button id="see-more" class="btn" type="button" data-bs-toggle="collapse"
                                data-bs-target="#flush-collapseThree" aria-expanded="false"
                                aria-controls="flush-collapseOne">
                                See more details
                            </button>
                        </h2>
                        <div id="flush-collapseThree" class="accordion-collapse collapse"
                            aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body">
                                I implemented some CRUDs and changed some components acording the product owner
                                requiremets.
                                Currently I am improving as Angular Developer and this personal page can explain you
                                about my short
                                experience.
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <br>

</div>