<footer id="my-footer">
    <div id="under-nav-bar" class="row">
      <div id="social-media" class="col-sm-4" style="border-right: 2px solid black;">
        <a href="https://www.facebook.com/Nilo.MendozaCjuiro" target="_blank">
          <img src="../../../assets/facebook-icon-round.png" alt="">
        </a>
        <a href="https://www.instagram.com/nilo_fidel/" target="_blank">
          <img src="../../../assets/instagaram-icon.jpeg" alt="">
        </a>
        <a href="https://twitter.com/NiloFidel_5402" target="_blank">
          <img src="../../../assets/twitter-icon.png" alt="">
        </a>
        <a href="https://www.linkedin.com/in/nilo-fidel-mendoza-cjuiro-a87504221/" target="_blank">
          <img src="../../../assets/linkedin-icon-circle.png" alt="">
        </a>
      </div>
  
      <div class="col-sm-4" style="border-right: 2px solid black; align-content: center;">
        <p style="text-align: center;"><b>My Email:</b></p>
        <p style="text-align: center;">nilo.fidel.mendoza@gmail.com</p>
      </div>
      <div class="col-sm-4">
        <p style="text-align: center;"><b>My cellphone number:</b></p>
        <p style="text-align: center;">Send me an email please to give you my cellphone number</p>
      </div>
    </div>
  </footer>