<br>
<h2 style="text-align: center;">NOTICIAS DE ALCALDÍA</h2>
<br>
<div class="container text-center">
  <div class="row">
    <div class="col-sm-4">
      <img src="../../../assets/images/hola.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">TEMPLO HISTÓRICO</h5>
        <p class="card-text">
          <li>Eight months of experience</li>
          <li>GitLab were used as repository</li>
          <li>MySql were used as data base</li>
          <li>I learnt to use Git</li>
        </p>

        <div class="accordion accordion-flush" id="my-accordion">
          <div class="accordion-item">
            <h2 class="accordion-header" id="my-accordion-header">
              <button id="see-more" class="btn" type="button" data-bs-toggle="collapse"
                data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                See more details
              </button>
            </h2>
            <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne"
              data-bs-parent="#accordionFlushExample">
              <div class="accordion-body">
                I developed software with Django and their toolkit, Django Rest Framework, for eight months. That was
                my first proyect to one real client after to leave the university.
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <img src="../../../assets/images/hola.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">LAGUNA DE PAMPAMARCA</h5>
        <p class="card-text">
          <li>Five months of experience</li>
          <li>Azure DevOps were used as repository</li>
          <li>Postgres were used as data base</li>
          <li>I learnt a quite about microservices</li>
        </p>

        <div class="accordion accordion-flush" id="my-accordion">
          <div class="accordion-item">
            <h2 class="accordion-header" id="my-accordion-header">
              <button id="see-more" class="btn" type="button" data-bs-toggle="collapse"
                data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseOne">
                See more details
              </button>
            </h2>
            <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingOne"
              data-bs-parent="#accordionFlushExample">
              <div class="accordion-body">
                At this stage I joined a team of developers to support adding new functionalities and fixing some bugs.

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <img src="../../../assets/images/hola.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">FERIA ¨PATRÓN SAN HILARIO¨</h5>
        <p class="card-text">
          <li>Six months of experience</li>
          <li>Bootstrap as main toolkit</li>
          <li>Material UI as secondary toolkit</li>
          <li>I learnt to consume API's</li>
        </p>

        <div class="accordion accordion-flush" id="my-accordion">
          <div class="accordion-item">
            <h2 class="accordion-header" id="my-accordion-header">
              <button id="see-more" class="btn" type="button" data-bs-toggle="collapse"
                data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseOne">
                See more details
              </button>
            </h2>
            <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingOne"
              data-bs-parent="#accordionFlushExample">
              <div class="accordion-body">
                I implemented some CRUDs and changed some components acording the product owner requiremets.
                Currently I am improving as Angular Developer and this personal page can explain you about my short
                experience.
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
  <br>
</div>